<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @article.title %>
</p>

<p>
  <strong>Body:</strong>
  <%= @article.body %>
</p>

<p>
  <strong>Image data:</strong>
  <%= image_tag @article.image_url if @article.image %>
</p>



<div class="container-fluid">
  <div class="article-wrapper">
    <%= terms %>
    <div class="info">
      <h1 class="title"><%= @article.title%></h1>
      <p class="description"><%= @article.body%></p>
      <div class="footer-info">
        <div class="author-info">
          <span>Written by : <strong><%= @article.author.username %> </strong></span>
        </div>
        
      </div>
    </div>
  </div>
</div>

<%= link_to 'Back', articles_path %>  


